{% extends 'base_LS.html' %}

{% block content %}

    <div class="alert alert-warning" role="alert">
  <div class="container">
<div class="row">
    <div class="col-md-12 col-sm-12 text-right">
        <div class="big-tagline">
            <h2><strong>TCET </strong> Alumni Portal</h2>
            <p class="lead">Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. </p>

        </div>
    </div>
</div><!-- end row -->
</div>
</div><!-- end container -->

<div class="container">
    <h1>This is homepage.</h1>
</div>
<button type="button" class="btn btn-success"><a href="{% url 'login' %}">Login</a></button>
<button type="button" class="btn btn-danger">Danger</button>


{% endblock %}