{% extends 'authenticate/base_LS.html' %}

{% block content %}

<div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>Our Timeline</h3>
                    <button type="button" class="btn btn-success hover-btn-new"><a href="{% url 'login' %}">Login</a></button>
                    <button type="button" class="btn btn-danger hover-btn-new">Register</button>
                </div>
            </div><!-- end title -->



{% endblock %}