{% extends 'authenticate/base_LS.html' %}

{% block content %}
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}" type="submit">Login</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'about' %}">about</a>
      <a class="nav-item nav-link" href="{% url 'home1' %}">blog</a>

    </div>
  </div>
</nav>

</div>
</div><!-- end container -->
<div class="jumbotron">
<div class="container">
    <h1 class="display-4">Register</h1>

    <form method="post">
    {% csrf_token %}
    {% for field in registration_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: #ff0000">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Register</button>
  </form>


</div>
</div>





{% endblock %}


