# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Final-project\alumni\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
